h1{
  background-color:burlywood;
}
 
 h2{
  font-size: 3em;
  color: rgb(67, 155, 155);
 }
 h3::first-letter{
  font-size: 4em;
 }
 img{
  border: 3px solid black;
 }

 h3+ol:hover{
  background-color: aquamarine;
 }
 ul{
  color: rgb(71, 17, 152);
  font-size: medium;
h{
    background-color: rgb(255, 0, 60);
    font-weight: arial;
    font-size: 2px;

  }


 }
 a[href="https://cs.qau.edu.pk/"]:hover{
  background-color: sandybrown;
 }
p {
 
 margin: 8px 0 5px 0;
 font-weight: bolder;
 font-family: Arial, Helvetica, sans-serif;
 }
 div+h2{
  color: rgb(29, 143, 143);
 }
 body{
  background-image:url(download.jpeg);
  background-position: 100px;
  background-repeat:repeat-y;
  border: dotted 1pt green;
 }
 p {
  border: solid 1pt red;
  margin: 30px;
  padding: 30px;
 }
 
p {
  height: 50px;            
  overflow-y: scroll;       
  padding: 10px;
  border: 1px solid gray;
  background-color: #f9f9f9;
}